.promotions {
  background-color: #f7f7f7;
}

.promotion-carousel {
  text-align: center;
}

.promotion-slide {
  position: relative;
}

.promotion-slide img {
  width: 100%;
}

.slide-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.buy-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f50057;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #c51162;
}
